.parent{
  display: flex;
  flex-direction: row;
  border:3px solid blue;

}
.childone{
  border: 3px solid red;
  padding: 3%;
  margin: 2%;
  width: 30%;
  border-radius:10%;
  text-align:center;
 font-size:20px;
}
img{
  width:40%;
  border:5px solid orange;
  border-radius:50%;
  display: block;
  margin-left:auto;
  margin-right :auto;
  box-shadow: 5px 7px 9px #000;
}
.childtwo{
  border: 3px solid green;
  padding: 3%;
  margin: 2%;
  width: 70%;
}
