.parent{
  display: flex;
  flex-direction: column;
  border:3px solid #3ADF00;

}
.childone{
  border: 3px solid #DF0101;;
  padding: 3%;
  margin: 3%;
  width: 90%;
  border-radius:10%;
  text-align:center;
 font-size:50px;
 background-color:#01DFD7;
}
img{
  width:40%;
  border:5px solid #F5A9F2;
  border-radius:50%;
  display: block;
  margin-left:auto;
  margin-right :auto;
  box-shadow: 5px 7px 9px #000;
}
.childtwo{
  border: 3px solid #610B5E;
  padding: 3%;
  margin: 4%;
  width: 90%;
  background-color:#81BEF7;
}
@media only screen and (min-width:320px) and (max-width:480px);{
  parent{
    display: flex;
    flex-direction: row;
    border:3px solid #3ADF00;

  }

  .childone{
    border: 3px solid #DF0101;
    padding: 3%;
    margin: 3%;
    width: 30%;
    border-radius:10%;
    text-align:center;
   font-size:25px;
  }
  img{
    width:40%;
    border:5px solid #F5A9F2;
    border-radius:50%;
    display: block;
    margin-left:auto;
    margin-right :auto;
    box-shadow: 5px 7px 9px #000;
  }
  .childtwo{
    border: 3px solid #81BEF7;;
    padding: 3%;
    margin: 2%;
    width: 70%;
  }

}
a{
  word-wrap:break-word;
}
